body,html{
	margin:0px
}

body{
	width:70%;
	padding-left:15%;
	padding-right:15%
}

body,input,select,label{
	font-size:2vw
}

h3{
	font-size:3vw
}

input,select{
	width:50%
}

input[type=radio]{
	width: 5%;zoom:1.5;
}

input[type=checkbox]{
	width:5%;zoom:1.5
}

form{
	background-color:aliceblue;
	padding:3%
}


#headBanner img {
	width: 20%;
}

/******************************************************************************/
/* MENU */
/******************************************************************************/
/* Remove margins and padding from the list, and add a black background color */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}