body,html{
	margin:0px;
}

body{
	width:70%;
	padding-left:15%;
	padding-right:15%;
	background-image: url("../img/body_bg.jpg");
	font-family: 'Alegreya Sans';
}

body,input,select,label{
	font-size:1.5vw;
	font-family: 'Alegreya Sans';
}

h3{
	font-size:2vw;
}

input,select{
	width:50%;
}

input[type=radio]{
	width: 5%;zoom:1.5;
}

input[type=checkbox]{
	width:5%;zoom:1.5;
}

form{
	background-color:#90CAF9;
	padding:3%;
}

form h3 {
	font-family: "Alegreya SC";
}

#myform {
	text-align: center;
}

#myform div {
	text-align: left;
}

#headBanner {
	background-image: url("../img/headBanner.jpg");
	background-size: 100% 145%;
}

#headBanner img {
	width: 20%;
	left: 0px;
	vertical-align: middle;
	margin: 10px;
}
#headBanner p{
	display: inline-block;
	vertical-align: middle;
	color: white;
	text-shadow: 2px 2px 4px #000000;
}

/******************************************************************************/
/* MENU */
/******************************************************************************/
/* Remove margins and padding from the list, and add a black background color */
#headMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CD5360;
}

#headMenu li {
    float: left;
}

#headMenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#headMenu li a:hover {
    background-color: #ab2e3b;
}

.active {
	background-color: #ab2e3b;
}

.contenido {
	background-color:#90CAF9;
	padding:3%;
}
.contenido h3 {
	color: #926640;
	text-align: center;
	font-family: "Alegreya SC";
}
.contenido li {
	padding: 10px 20px;
}

.contenido img{
	width: 50%;
	position: relative;
	left: 25%;
}

#equipoDocente {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}
#equipoDocente li {
    float: left;
    width: 33%;
    padding: 0px;
    color: #ab2e3b;
}

#equipoDocente img {
	position: relative;
	left: 0%;
	width: 80%;
}

#resultadosDiv {
	background-color:#90CAF9;
	padding:3%;

}